Repository Walidoux/react-ios15-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: add readme file
  README.md
Due: prettier --write

chore(fix): remove readme credits and fix contributing typos
  README.md
Due: prettier --write

fix(icons): remove global React import
  src/icons/Apple.tsx
  src/icons/Battery.tsx
  src/icons/Bookmark.tsx
  src/icons/Camera.tsx
  src/icons/Cellular.tsx
  src/icons/Checkmark.tsx
  src/icons/Chevron.tsx
  src/icons/Eyedropper.tsx
  src/icons/Flashlight.tsx
  src/icons/Heart.tsx
  src/icons/Loop.tsx
  src/icons/Microphone.tsx
  src/icons/Phone.tsx
  src/icons/Play.tsx
  src/icons/Share.tsx
  src/icons/Shareplay.tsx
  src/icons/Speaker.tsx
  src/icons/Star.tsx
  src/icons/Wifi.tsx
  src/icons/XMark.tsx
  src/icons/XMarkCircle.tsx
Due: prettier --write, eslint --fix

fix(tsconfig): replace jsx transpilation to `preserve` instead of `react`
  tsconfig.json
Due: prettier --write

revert(generators/icon): remove global import
  generators/Icon.tsx.hbs
Due: none

test(tsconfig): replace jsx transpilation from preserve to react-jsx
  tsconfig.json
Due: prettier --write

chore(build): add babel config with preset-react
  .babelrc
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

perf(icon/Battery): remove globa! react import
  src/icons/Battery.tsx
Due: prettier --write, eslint --fix

feat: next update release (#6)
  .babelrc
  .releaserc
  .vscode/settings.json
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  generators/Icon.tsx.hbs
  package.json
  src/icons/Apple.tsx
  src/icons/Battery.tsx
  src/icons/Bookmark.tsx
  src/icons/Camera.tsx
  src/icons/Cellular.tsx
  src/icons/Checkmark.tsx
  src/icons/Chevron.tsx
  src/icons/Eyedropper.tsx
  src/icons/Flashlight.tsx
  src/icons/Heart.tsx
  src/icons/Loop.tsx
  src/icons/Microphone.tsx
  src/icons/Phone.tsx
  src/icons/Play.tsx
  src/icons/Share.tsx
  src/icons/Shareplay.tsx
  src/icons/Speaker.tsx
  src/icons/Star.tsx
  src/icons/Wifi.tsx
  src/icons/XMark.tsx
  src/icons/XMarkCircle.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(ci): add persist credentials
  .github/workflows/ci.yml
Due: prettier --write

chore(ci): add persist credentials (#7)
  .github/workflows/ci.yml
Due: prettier --write

Notes added by 'git notes add'
  e693c0558fba8eac15c4ffc14f4c1832f4cc951f
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore(build): fix bad package version
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2c2b38608ef8297849b1d05c380cd54a6be15a34
Due: none

chore(build): remove private package preventing from release
  package.json
Due: prettier --write

revert: bad package version
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a2368eb40d4c775721efe7d7b831f2cf26e27736
Due: none

chore(build): update latest (#8)
  CHANGELOG.md
  package.json
Due: prettier --write

feat(example): init vite react-ts template
  .eslintrc
  .gitignore
  example/index.html
  example/package.json
  example/src/App.tsx
  example/src/main.tsx
  example/src/vite-env.d.ts
  example/tsconfig.json
  example/tsconfig.node.json
  example/vite.config.ts
  example/yarn.lock
Due: prettier --write, eslint --fix

refactor(example): integrate tailwindcss
  example/package.json
  example/postcss.config.js
  example/src/App.tsx
  example/src/main.css
  example/src/main.tsx
  example/tailwind.config.js
Due: prettier --write, eslint --fix

chore(build): fix react not defined with global import
  src/icons/Apple.tsx
  src/icons/Battery.tsx
  src/icons/Bookmark.tsx
  src/icons/Camera.tsx
  src/icons/Cellular.tsx
  src/icons/Checkmark.tsx
  src/icons/Chevron.tsx
  src/icons/Eyedropper.tsx
  src/icons/Flashlight.tsx
  src/icons/Heart.tsx
  src/icons/Loop.tsx
  src/icons/Microphone.tsx
  src/icons/Phone.tsx
  src/icons/Play.tsx
  src/icons/Share.tsx
  src/icons/Shareplay.tsx
  src/icons/Speaker.tsx
  src/icons/Star.tsx
  src/icons/Wifi.tsx
  src/icons/XMark.tsx
  src/icons/XMarkCircle.tsx
Due: prettier --write, eslint --fix

refactor(types): update icon props
  src/IconProps.ts
Due: prettier --write, eslint --fix

refactor(generators): add global react import
  generators/Icon.tsx.hbs
Due: none

chore(build-fix): remove extra config due to jsx transpilation
  .babelrc
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

fix(formatter): ignore changeable CHANGELOG file
  .prettierignore
Due: none

feat: implement icon examples
  example/package.json
  example/src/App.tsx
  example/yarn.lock
Due: prettier --write, eslint --fix

feat: example showcase (#10)
  example/package.json
  example/src/App.tsx
  example/yarn.lock
Due: prettier --write, eslint --fix

fix(chore): icon props (#11)
  .eslintrc
  .gitignore
  .prettierignore
  example/index.html
  example/package.json
  example/postcss.config.js
  example/src/App.tsx
  example/src/main.css
  example/src/main.tsx
  example/src/vite-env.d.ts
  example/tailwind.config.js
  example/tsconfig.json
  example/tsconfig.node.json
  example/vite.config.ts
  example/yarn.lock
  generators/Icon.tsx.hbs
  src/IconProps.ts
  src/icons/Apple.tsx
  src/icons/Battery.tsx
  src/icons/Bookmark.tsx
  src/icons/Camera.tsx
  src/icons/Cellular.tsx
  src/icons/Checkmark.tsx
  src/icons/Chevron.tsx
  src/icons/Eyedropper.tsx
  src/icons/Flashlight.tsx
  src/icons/Heart.tsx
  src/icons/Loop.tsx
  src/icons/Microphone.tsx
  src/icons/Phone.tsx
  src/icons/Play.tsx
  src/icons/Share.tsx
  src/icons/Shareplay.tsx
  src/icons/Speaker.tsx
  src/icons/Star.tsx
  src/icons/Wifi.tsx
  src/icons/XMark.tsx
  src/icons/XMarkCircle.tsx
Due: prettier --write, eslint --fix

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6cc5add0a4c0535571a4e2945dbd6cc88307f3e6
Due: none

chore(build): update latest (#12)
  CHANGELOG.md
  package.json
Due: prettier --write

fix(example): update lib version
  example/package.json
  example/yarn.lock
Due: prettier --write

feat(icons): add base Icon component with types and defined attibutes
  src/Icon.tsx
  src/IconProps.ts
Due: prettier --write, eslint --fix

refactor(icons): improve reusability with custom props
  src/IconProps.ts
  src/icons/Apple.tsx
  src/icons/Battery.tsx
  src/icons/Bookmark.tsx
  src/icons/Camera.tsx
  src/icons/Cellular.tsx
  src/icons/Checklist.tsx
  src/icons/Checkmark.tsx
  src/icons/Chevron.tsx
  src/icons/Eyedropper.tsx
  src/icons/Flashlight.tsx
  src/icons/Heart.tsx
  src/icons/Loop.tsx
  src/icons/Microphone.tsx
  src/icons/Phone.tsx
  src/icons/Play.tsx
  src/icons/Share.tsx
  src/icons/Shareplay.tsx
  src/icons/Speaker.tsx
  src/icons/Star.tsx
  src/icons/Wifi.tsx
  src/icons/XMark.tsx
  src/icons/XMarkCircle.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat(icons): implement Shareplay icon
  src/IconProps.ts
  src/icons/Shareplay.tsx
  src/index.d.ts
Due: prettier --write, eslint --fix

refactor(icons): add disable common prop
  src/IconProps.ts
  src/icons/Microphone.tsx
  src/icons/Play.tsx
  src/icons/Shareplay.tsx
  src/index.d.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,jsonc,yml,yaml,md,mdx})
  eslint --fix: any of: *.{js,ts,tsx}
