Repository Walidoux/react-ios15-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add release default config
  .releaserc
Due: none

refactor(workflow): improve typing
  .github/workflows/ci.yml
  .github/workflows/size.yml
Due: prettier --write

feat(icons): add Loop, Star & Bookmark
  src/icons/Bookmark.tsx
  src/icons/Loop.tsx
  src/icons/Star.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat(icons): add Play and Share icons
  src/icons/Play.tsx
  src/icons/Share.tsx
Due: prettier --write, eslint --fix

fix: add missing tailwind intellisense for classnames
  tailwind.config.js
Due: prettier --write, eslint --fix

refactor(formatter/linter): ignore handlebar files and non-parsed config
  .eslintrc
  .prettierignore
Due: none

refactor: add icon generators pattern
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

refactor: implement IconProps to index types
  src/IconProps.ts
Due: prettier --write, eslint --fix

feat(plop): add plop config and handlebar
  generators/Icon.tsx.hbs
  package.json
  plopfile.js
  yarn.lock
Due: prettier --write, eslint --fix

refactor(workflow): update latest
  .github/workflows/ci.yml
Due: prettier --write

fix(workflow): replace misspelling text
  .github/workflows/lint.yml
Due: prettier --write

ci: change job event from push to PR
  .github/workflows/ci.yml
Due: prettier --write

refactor: improve IconProps types
  src/IconProps.ts
  src/index.d.ts
Due: prettier --write, eslint --fix

feat(icons): add Phone icon
  src/IconProps.ts
  src/icons/Phone.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: add missing scoped package
  package.json
Due: prettier --write

refactor: prepare for first release
  package.json
Due: prettier --write

revert: fix bad lib's version
  package.json
Due: prettier --write

chore: release 1.0.0 (#1)
  package.json
  src/IconProps.ts
  src/icons/Phone.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

ci: resolve push job event
  .github/workflows/ci.yml
Due: prettier --write

chore(ci): add missing env vars access tokens
  .github/workflows/ci.yml
  package.json
Due: prettier --write

revert(ci): fix repo not found
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7c1764f56e8bbc77dec88e5abdfa57d23b9ee125
Due: none

feat(icons): add 8 more icons
  src/icons/Apple.tsx
  src/icons/Camera.tsx
  src/icons/Checkmark.tsx
  src/icons/Chevron.tsx
  src/icons/Eyedropper.tsx
  src/icons/Flashlight.tsx
  src/icons/Microphone.tsx
  src/icons/Shareplay.tsx
  src/icons/Speaker.tsx
  src/icons/XMark.tsx
  src/icons/XMarkCircle.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(types): resolve unknown type
  src/index.d.ts
Due: prettier --write, eslint --fix

refactor(icons): add pitch to SpeakerProps
  src/IconProps.ts
  src/icons/Speaker.tsx
  src/index.d.ts
Due: prettier --write, eslint --fix

feat(icons): add Heart icon
  src/icons/Heart.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat(plop): add [hasProps] in prompts
  generators/IconProps.ts.hbs
  plopfile.js
Due: prettier --write, eslint --fix

refactor: update next release
  .releaserc
  package.json
Due: prettier --write

chore: update lib icons (#2)
  .releaserc
  generators/IconProps.ts.hbs
  package.json
  plopfile.js
  src/IconProps.ts
  src/icons/Apple.tsx
  src/icons/Camera.tsx
  src/icons/Checkmark.tsx
  src/icons/Chevron.tsx
  src/icons/Eyedropper.tsx
  src/icons/Flashlight.tsx
  src/icons/Heart.tsx
  src/icons/Microphone.tsx
  src/icons/Shareplay.tsx
  src/icons/Speaker.tsx
  src/icons/XMark.tsx
  src/icons/XMarkCircle.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(ci): missing semantic changelog plugin
  package.json
  yarn.lock
Due: prettier --write

chore(ci): fix missing semantic git PL
  package.json
  yarn.lock
Due: prettier --write

chore(build): fix non-used preset for conventional commits on CI
  .releaserc
Due: none

chore(release): add conventional commits as preset
  .releaserc
Due: none

chore(ci): add env GIT_COMMITTER_NAME & GIT_COMMITTER_EMAIL
  .github/workflows/ci.yml
Due: prettier --write

chore: update latest version (#4)
  .github/workflows/ci.yml
Due: prettier --write

chore(release): add changelog file
  .releaserc
  CHANGELOG.md
Due: prettier --write

feat: add contributing file
  CONTRIBUTING.md
Due: prettier --write

chore: add code of conduct
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: prettier --write

fix(vscode): add typescript workspace default version
  .vscode/settings.json
Due: prettier --write

chore(fix): linkiing guides of open source
  CONTRIBUTING.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,jsonc,yml,yaml,md,mdx})
  eslint --fix: any of: *.{js,ts,tsx}
