Repository Walidoux/react-ios15-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,jsonc,yml,yaml,md,mdx}": [
    "prettier --write"
  ]
}

refactor(icons/Speaker): improve prop types
  src/IconProps.ts
  src/icons/Speaker.tsx
Due: prettier --write, eslint --fix

feat(icons/[Xmark,XMarkCircle]): update path coords
  src/icons/XMark.tsx
  src/icons/XMarkCircle.tsx
Due: prettier --write, eslint --fix

refactor(icons/Wifi): recenter icon
  src/icons/Wifi.tsx
Due: prettier --write, eslint --fix

refactor(generators): seperate 4 types of icon templates
  generators/FilledIcon.tsx.hbs
  generators/FilledIconProps.tsx.hbs
  generators/Icon.tsx.hbs
  generators/IconProps.ts.hbs
  generators/IconProps.tsx.hbs
Due: none

feat(plopjs): integrate filled qst prop with refactoring
  plopfile.js
Due: prettier --write, eslint --fix

refactor(icons/types): update type icons
  src/index.d.ts
Due: prettier --write, eslint --fix

fix(generators/FilleIcon): misspelling properCase name
  generators/FilledIcon.tsx.hbs
Due: none

refactor(icons): replace [Share, Star] with [Flag, Message] icon components
  src/icons/Flag.tsx
  src/icons/Message.tsx
  src/icons/Share.tsx
  src/icons/Star.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(plopjs): resolve case without props but with filled prop types
  plopfile.js
Due: prettier --write, eslint --fix

feat(icons): implement Video icon component
  src/icons/Video.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat(icons): improve icon props + fill attribute (#13)
  generators/FilledIcon.tsx.hbs
  generators/FilledIconProps.tsx.hbs
  generators/Icon.tsx.hbs
  generators/IconProps.ts.hbs
  generators/IconProps.tsx.hbs
  plopfile.js
  src/Icon.tsx
  src/IconProps.ts
  src/icons/Apple.tsx
  src/icons/Battery.tsx
  src/icons/Bookmark.tsx
  src/icons/Camera.tsx
  src/icons/Cellular.tsx
  src/icons/Checklist.tsx
  src/icons/Checkmark.tsx
  src/icons/Chevron.tsx
  src/icons/Eyedropper.tsx
  src/icons/Flag.tsx
  src/icons/Flashlight.tsx
  src/icons/Heart.tsx
  src/icons/Loop.tsx
  src/icons/Message.tsx
  src/icons/Microphone.tsx
  src/icons/Phone.tsx
  src/icons/Play.tsx
  src/icons/Share.tsx
  src/icons/Shareplay.tsx
  src/icons/Speaker.tsx
  src/icons/Star.tsx
  src/icons/Video.tsx
  src/icons/Wifi.tsx
  src/icons/XMark.tsx
  src/icons/XMarkCircle.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

refactor(example): remove lib package
  example/package.json
  example/src/App.tsx
  example/yarn.lock
Due: prettier --write, eslint --fix

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bbcb5acdc9f0a9841107c10f8d4f1dd1d723c193
Due: none

refactor(README): add section for contribution
  README.md
Due: prettier --write

chore(fix): remove src folder in prod
  package.json
Due: prettier --write

feat(icons): implement Trash Icon
  src/icons/Trash.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat(icons): implement Send icon
  src/icons/Send.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

refactor(icons/Icon): update global Icon size
  src/Icon.tsx
Due: prettier --write, eslint --fix

feat(icons): add SquarePencil icon
  src/icons/SquarePencil.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat(icons): implement Folder with type specifications
  src/IconProps.ts
  src/icons/Folder.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat(icons): implement FolderQuestionMark icon
  src/icons/FolderQuestionMark.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat(icons): implement additional icons (#15)
  src/Icon.tsx
  src/IconProps.ts
  src/icons/Folder.tsx
  src/icons/FolderQuestionMark.tsx
  src/icons/Send.tsx
  src/icons/SquarePencil.tsx
  src/icons/Trash.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d03879efd452988760acd9b71537242397298847
Due: none

refactor(Icon): clean up props with high default size
  src/Icon.tsx
Due: prettier --write, eslint --fix

fix(Icon): clean up props with high default size
  src/Icon.tsx
Due: prettier --write, eslint --fix

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4b91add87b7ae5d409935fc5862111817c25cef3
Due: none

fix(icons/Battery): black to currentColor & resolve non desired size
  src/icons/Battery.tsx
Due: prettier --write, eslint --fix

feat(icons): implement Gear icon component
  src/IconProps.ts
  src/icons/Gear.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(icons/Gear): resolve bad condition
  src/icons/Gear.tsx
Due: prettier --write, eslint --fix

feat(icons): implement Bell icon component
  src/IconProps.ts
  src/icons/Bell.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(generators): unsed prop template
  generators/FilledIconProps.tsx.hbs
Due: none

feat: additional icons (#16)
  src/IconProps.ts
  src/icons/Bell.tsx
  src/icons/Gear.tsx
  src/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix

refactor(Icon/types): add height, width compability
  src/IconProps.ts
Due: prettier --write, eslint --fix

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  93a349afe1c88c6a26cc3c63b56f10444118d89c
Due: none

fix: remove tailwindcss from source code
  package.json
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --fix
